--<!DOCTYPE html>
<html>
<head>
	<title>TrampoFacil</title>
</head>
<body>

<h1>Usuarios</h1>
<h3>Aqui você pode realizar todas as operações relacionadas aos usuarios do Trampo Facil</h3>
<br>
<form  method="POST">
	<input type="button" value="Cadastrar" onclick="window.location.href='CadastrarUsuario.html'">
	<br>
	<br>
	<input type="button" value="Consultar" onclick="window.location.href='ConsultarUsuario.html'">
	<br>
	<br>
	<input type="button" value="Alterar" onclick="window.location.href='AlterarUsuario.html'">
	<br>
	<br>
	<input type="button" value="Excluir" onclick="window.location.href='ExcluirUsuario.html'">
	<br>


</form>

</form>


</body>
</html>
