<!DOCTYPE html>
<html>
<head>
	<title>TrampoFacil</title>
</head>
<body>
<h1>Consultar Contratos</h1>
<h3>Você pode verificar os contratos registrados com o nome, data, valor e serviço que oferece</h3>
<br>
<form action ="recebe.php" method="POST">
	<label>Usuario:</label><br />
		<input type="text" name="nome" /><br />
	<label>Servico:</label><br />
		<input type="text" name="contato" /><br /> 
	<label>Data:</label><br />
		<input type="date" name="info" /><br />
	<label>Valor:</label><br />
		<input type="text" name="servico" /><br />

<br>
<br>
<input type="submit" value="Enviar">
<input type="reset" value="Limpar">
<input type="button" value="Voltar" onclick="window.location.href='CentralContratos.html'">

</body>
</html>
